<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements.  See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership.  The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License.  You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied.  See the License for the
	specific language governing permissions and limitations
	under the License.
-->

<mat-card class="worker-card">
	<mat-card-title *ngIf="model">{{ model.name }}</mat-card-title>
	<mat-divider inset></mat-divider>
	<mat-card-content>
		<p>Address: <span *ngIf="model">{{ model.address }}</span></p>
		<p>Status:
			<span *ngIf="model && model.isOnline" class="online-worker">
        Online
      </span>
			<span *ngIf="model && !model.isOnline" class="offline-worker">
        Offline
      </span>
		</p>

	</mat-card-content>

	<mat-divider inset></mat-divider>
	<mat-card-content>
		<div [merge]="updateOptionsMemory" [options]="optionsMemory" class="worker-chart" echarts></div>
	</mat-card-content>

	<mat-divider inset></mat-divider>
	<mat-card-content>
		<table [dataSource]="dataSource" class="table-info" mat-table>
			<!--- Note that these columns can be defined in any order.
				  The actual rendered columns are set as a property on the row definition" -->

			<!-- Type Column -->
			<ng-container matColumnDef="type">
				<th *matHeaderCellDef mat-header-cell> Type </th>
				<td *matCellDef="let element" mat-cell> {{element.type}} </td>
			</ng-container>

			<!-- Time Column -->
			<ng-container matColumnDef="time">
				<th *matHeaderCellDef mat-header-cell> Time(s) </th>
				<td *matCellDef="let element" mat-cell> {{element.time}} </td>
			</ng-container>

			<!-- Frequency Column -->
			<ng-container matColumnDef="frequency">
				<th *matHeaderCellDef mat-header-cell> Freq. </th>
				<td *matCellDef="let element" mat-cell> {{element.frequency}} </td>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
		</table>


	</mat-card-content>
</mat-card>
