# Cluster configurations

# Set MANUALLY by the user
REGION="us-east-1"
# Valid values: "", "a", "b", ... Empty value means automatic selection
AZ=""
JAVA_HOME="/usr/lib/jvm/jre-11"
# Be VERY careful at changing these values as they impact performance significantly
NUM_CORES_OS=1
PERCENT_MEMORY_OS=20

# Set global configs AUTOMATICALLY by prepare_aws.sh
# If empy run prepare_aws.sh
SUBNET_ID=""

BUCKET="systemds-bucket"
SYSTEMDS_JAR="/Users/lachezarnikolov/my_projects/thesis/systemds/target/SystemDS.jar"


# Set cluster configs AUTOMATICALLY by main.sh
PRIMARY_INSTANCE_TYPE=""
CORE_INSTANCE_TYPE=""
TASK_INSTANCE_TYPE=""
CORE_INSTANCE_NUM=1
TASK_INSTANCE_NUM=0

