# Configuration

KEYPAIR_NAME="SystemDSkeynamex"
REGION="us-east-1"
EMR_VERSION="emr-5.28.0"

INSTANCES_TYPE="m5.xlarge"
MASTER_INSTANCES_COUNT=1
CORE_INSTANCES_COUNT=5
SPARK_DEPLOY_MODE="client"

# SystemDS specific
SYSTEMDS_TARGET_DIRECTORY="systemds/"
SYSTEMDS_EXEC_MODE="spark"
SYSTEMDS_ARGS=""


# Readonly #
CLUSTER_ID=j-cluster_id
SPARK_NUM_EXECUTORS=4
SPARK_EXECUTOR_CORES=2
SPARK_EXECUTOR_MEMORY=4800.00MB
SPARK_DRIVER_MEMORY=1G
SYSTEMDS_JAR_PATH="/home/hadoop/SystemDS.jar"
# End - Readonly #
