#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# Configuration

KEYPAIR_NAME="SystemDSkeynamex"
REGION="us-east-1"
EMR_VERSION="emr-5.28.0"

INSTANCES_TYPE="m5.xlarge"
MASTER_INSTANCES_COUNT=1
CORE_INSTANCES_COUNT=5
SPARK_DEPLOY_MODE="client"

# SystemDS specific
SYSTEMDS_TARGET_DIRECTORY="systemds/"
SYSTEMDS_EXEC_MODE="spark"
SYSTEMDS_ARGS=""


# Readonly #
CLUSTER_ID=j-cluster_id
SPARK_NUM_EXECUTORS=4
SPARK_EXECUTOR_CORES=2
SPARK_EXECUTOR_MEMORY=4800.00MB
SPARK_DRIVER_MEMORY=1G
SYSTEMDS_JAR_PATH="/home/hadoop/SystemDS.jar"
# End - Readonly #
