#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
#   http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# Git ignore for python files.
systemds/lib/
systemds.egg-info/
systemds/conf/
build/
LICENSE
NOTICE
generator.log
dist
docs/build
docs/source/_build
tests/onnx_systemds/output_test
tests/onnx_systemds/dml_output
tests/onnx_systemds/test_models/*.onnx

# git ignore tmp test files
tests/federated/output
tests/federated/worker
tests/federated/tmp
tests/list/tmp
tests/algorithms/readwrite/
tests/examples/tutorials/model
tests/lineage/temp

python_venv/
