<?xml version="1.0" encoding="UTF-8"?>
<nimbleConfig>
<system>	
	<parameters>
		<NumMergeTasks>4</NumMergeTasks>
		<NumberOfSowThreads>1</NumberOfSowThreads>
		<NumberOfReapThreads>1</NumberOfReapThreads>
		<SowerWaitInterval>1000</SowerWaitInterval>
		<ReaperWaitInterval>1000</ReaperWaitInterval>
		<Scratch>nimbleoutput</Scratch>
	</parameters>
</system>
</nimbleConfig>