exportClasses(bigr.connection)
exportClasses(bigr.dataset)
exportClasses(bigr.frame)
exportClasses(bigr.function)
exportClasses(bigr.jdbc)
exportClasses(bigr.list)
exportClasses(bigr.vector)

#exportPattern("^[^\\.]")

# Temporarily export "%++%" because some external code in Apply.jaql
# relies on it. Eventually, this needs to be removed.
export("%++%")

export("%in%")
export(as.bigr.frame)
export(as.bigr.vector)
export(as.data.frame)
export(as.vector)
export(attach)
export(bigr.as.list)
export(bigr.boxplot)
export(bigr.boxplot.stats)
export(bigr.callFn)
export(bigr.connect)
export(bigr.disconnect)
export(bigr.distinctCounts)
export(bigr.env)
export(bigr.frame)
export(bigr.getLogFiles)
export(bigr.getRowLimit)
export(bigr.histogram)
export(bigr.histogram.stats)
export(bigr.listColumns)
export(bigr.listfs)
export(bigr.listTables)
export(bigr.persist)
export(bigr.pull)
export(bigr.quartiles)
export(bigr.random)
export(bigr.reconnect)
export(bigr.registerFn)
export(bigr.registerRNG)
export(bigr.sample)
export(bigr.sample01RNG)
export(bigr.sampleRNG)
export(bigr.set.seed)
export(bigr.setConfig)
export(bigr.setRowLimit)
export(bigr.showLogFile)
export(bigr.sort)
export("colnames")
export("colnames<-")
export(coltypes)
export("coltypes<-")
export(cor)
export(cov)
export(grepl)
export(groupApply)
export(gsub)
export(head)
export(ifelse)
export(is.bigr.connected)
export(mean)
export(merge)
export(mod)
export(na.exclude)
export(na.omit)
export(nchar)
export(ncol)
export(nrow)
export(persist)
export(pow)
export(print)
export(pull)
export(rowApply)
export(sd)
export(sort)
export(str)
export(sub)
export(substr)
export(substring)
export(summary)
export(table)
export(tableApply)
export(tail)
export(tolower)
export(toString)
export(toupper)
export(unique)
export(var)
export(with)
export(bigr.lm)
