<div class="metrics-cards">
  <mat-card id="data-metric-card" class="worker-metrics-card">
    <mat-card-title *ngIf="!isLoadingResults">{{model.name}}</mat-card-title>
    <mat-card-content>
      <h3>Address: <span *ngIf="!isLoadingResults">{{model.address}}</span></h3>
      <mat-divider inset></mat-divider>
      <h3 *ngIf="!isLoadingResults">Status:
        <span class="online-worker" *ngIf="model.isOnline">
            Online
          </span>
        <span class="offline-worker" *ngIf="!model.isOnline">
            Offline
          </span>
      </h3>
      <mat-divider inset></mat-divider>
      <h3>JIT Compile time: <span *ngIf="!isLoadingResults">{{model.jitCompileTime}} s</span></h3>
    </mat-card-content>
  </mat-card>
  <mat-card id="requests-metric-card" class="worker-metrics-card">
    <div echarts [initOpts]="optionsRequests" [options]="optionsRequests" [merge]="updateOptionsRequests" class="demo-chart"></div>
  </mat-card>

</div>

<div class="metrics-cards">
  <mat-card id="cpu-metric-card" class="worker-metrics-card">
    <div echarts [options]="optionsCPU" [merge]="updateOptionsCPU" class="demo-chart"></div>
  </mat-card>

  <mat-card id="memory-metric-card" class="worker-metrics-card">
    <div echarts [options]="optionsMemory" [merge]="updateOptionsMemory" class="demo-chart"></div>
  </mat-card>
</div>

