#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

name: Build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.html'
      - 'src/main/python/**'
      - 'dev/**'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.html'
      - 'src/main/python/**'
      - 'dev/**'
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.os }} Java ${{ matrix.java }} ${{ matrix.javadist }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest, 
          macOS-latest, 
          windows-latest
          ]
        java: [
          # '8', 
          '17', 
          # '16'
          ]
        javadist: [
          # 'temurin',
          # 'zulu',
          'adopt',
          # 'adopt-openj9',
          # 'liberica',
          # 'microsoft'
          ]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5

    - name: Setup Java ${{ matrix.java }} ${{ matrix.javadist }}
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.javadist }}
        java-version: ${{ matrix.java }}
        cache: 'maven'

    - name: Build
      run: mvn package -D maven.test.skip=true -B
