#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

name: Component Test

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.html'
      - 'src/main/python/**'
      - 'dev/**'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.html'
      - 'src/main/python/**'
      - 'dev/**'
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: ['11']
        javadist: ['adopt-openj9']
    name: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Java ${{ matrix.java }} ${{ matrix.javadist }}
      uses: actions/setup-java@v3
      with:
        distribution: ${{ matrix.javadist }}
        java-version: ${{ matrix.java }}
        cache: 'maven'

    - name: Component Tests
      run: ./docker/entrypoint.sh org.apache.sysds.test.component.**
    
    - name: User Tests
      run: ./docker/entrypoint.sh org.apache.sysds.test.usertest.** 


